<div class="container">
    <h4 *ngIf="toggleNewsPage" id="visited_news">Click here to view : <button class="btn btn-sm btn-success" (click)="togglePage()">
   Most Visited News</button></h4>
   <h4 *ngIf="!toggleNewsPage" id="visited_news">Click here to view : <button class="btn btn-sm btn-success" (click)="togglePage()">
   Create News</button></h4>
   <hr>
   <div *ngIf="toggleNewsPage; then createNews else visited"></div>
  <div class="row">
  <ng-template #createNews>
    <div class="col-md-6">
    <h3>Create News Item</h3>
    	<div class="panel panel-default">
    		<form (ngSubmit)="submitNews()">
    		  <label>Title :</label> 
    			<input type="text" name="title" class="form-control" placeholder="Enter news title" [(ngModel)]="title" (ngModelChange)="titlechange()" [ngClass]="errtitle ? 'border' : ''">
    			<span class="err" *ngIf="errtitle">* Title required</span>
    			<br>
          <label>Category :</label> 
          <select [(ngModel)]="selectCat" name="category" class="form-control" required [ngClass]="errcat ? 'border' : ''" (ngModelChange)="catchange()">
            <option value="select">Select</option>
            <option *ngFor="let category of categories" [ngValue]="category._id">{{category.name}}
            </option>
          </select>
          <span class="err" *ngIf="errcat">* Category required</span><br>
    		  <label>Body :</label> 
    			<br>
    			<textarea class="form-control" name="body" rows="10" cols="61" placeholder="Enter news body here" [(ngModel)]="body" (ngModelChange)="bodychange()" [ngClass]="errbody ? 'border' : ''"></textarea>
          <input type="hidden" name="hidden_i" [(ngModel)]="edited_id">
    			<span class="err" *ngIf="errbody">* Body required</span><br>
    			<button type="submit" class="btn btn-info" *ngIf="!editnewsitem">Publish</button>
          <button type="submit" class="btn btn-success" *ngIf="editnewsitem">Update</button>
    		</form>
    	</div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">News Feed</h3>
      <div class="news_items_blk">
      	<div *ngFor="let news of news; let i = index" class="news_item">
      		<h4><b>{{news.title | uppercase}}</b></h4>
      		<p>{{news.body}}</p>
          <div class="pull-right">
           <div *ngFor="let category of categories">
             <span class="badge cat_badge">{{category._id === news.cat_id ? category.name : ''}}</span> 
           </div> 
          </div>
          <button class="btn btn-xs btn-primary" (click)="editNewsItem(news)">Edit</button>
          <button class="btn btn-xs btn-danger" (click)="delNewsItem(news)">Delete</button>
          <span> {{news.createdAt | date:'fullDate'}}</span>
      	</div>
      </div>
    </div>
    </ng-template>
    <ng-template #visited>
    <div>
      <h2 class="text-center">Most visited news</h2>
        <div class="news_items_blk">
          <div *ngFor="let news_s of news_seen">
            <div *ngFor="let n of news">
              <div *ngIf="news_s.news_id === n._id" class="news_item_visited col-md-4">
                  <button class="btn btn-danger btn-sm pull-right del_btn" (click)="delNewsSeenItem(news_s)">
                  <span class="glyphicon glyphicon-remove-circle"></span></button>
                  <h4><b>{{n.title | uppercase}}</b></h4>
                  <p>{{n.body}}</p>
                  <div class="text-center">
                  <span> {{n.createdAt | date:'fullDate'}}</span>
                   <span *ngFor="let category of categories">
                     <span class="badge cat_badge">{{category._id === n.cat_id ? category.name : ''}}</span> 
                   </span> 
                </div>
              </div>
            </div>
          </div>  
      </div>
    </div>
    </ng-template>
  </div>
</div>
