.panel-body h4 {
	padding: 5px;
	background-color: #d9edf7;
	border:1px solid #d9edf7;
	border-radius: 5px;
	animation: ease-in;
	transition-duration: 0.5s;
}
.navbar-nav li a:active, .navbar-nav li a:focus {
	background-color: #fff;
	color: black;
}
.navbar-nav li a {
	color: #fff;
}
.navbar-default {
	border-radius: 0px;
	background-color: #59a9ea;
	color: #fff;
}
.navbar-brand, .navbar-brand:hover {
	background-color: #0c7beb;
	color: #fff;
	font-weight: bold;
}