@font-face {
    font-family: "headerfont";
    src: url("/assets/fonts/SIMPLIFICA.ttf");
}

.panel-default {
	padding: 20px;
}
.news_item h4 {
	border-bottom: 2px solid wheat;
	padding-bottom: 5px;
	color: wheat;
	/*font-family: "headerfont";*/
}
.news_item h4:hover {
	opacity: 1;
	cursor: pointer;
}
.news_item p {
	color: #fff;
}
.err {
	color: red;
}
.border {
	border:1px solid red;
	box-shadow: 0px 0px 3px 0px red;
}
footer .thumb_up {
	color: wheat;
	margin-top: -5px;
}
footer .share {
	color: navy;
}
footer i:hover {
	cursor: pointer;
}
footer span {
	color: yellowgreen;
	cursor: pointer;
}
.news_item_blk {
	height: 700px;
	overflow-y: scroll;
	padding: 10px;
}
.news_item {
	box-shadow: 0px 0px 8px 1px wheat;
	background-color: #17457c;
	color: #fff;
}
.popular_news {
	background-color: #3e605e;
	margin-bottom: 10px;
	/*border: 5px solid lightseagreen;*/
	box-shadow: 2px 2px 2px 2px #f4a41a;
	border-radius: 10px;
	color: #fff;
}
.popular_news .image {
	padding: 10px;
}
.popular_news .artical {
	padding: 10px;
}
.popular_news_blk .article h5:hover {
	text-decoration: underline;
	cursor: pointer;
}
.categories ul li {
	list-style: none;
}
.categories ul li .category_href {
	margin-left: 9px;
	display: inline-flex;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 1px 0px 3px lightblue;
	width: 80%;
	padding: 0px 5px;
	text-decoration: none;
	color: #fff;
}
.categories ul li .category_href:hover {
	cursor: pointer;
	background-color: lightpink;
}
.categories ul li .category_href {
	background-color: #07b791;
	border-radius: 10px;
}
.categories ul li a.cat_active {
	background-color: lightpink;
	color: black;
}
.categories ul li img {
	padding:10px;
	height: 50px;
}
.categories ul li h4 {
	margin-top: 15px;
	font-size: 15px;
	display: block;
	width: 100%;
	text-align: center;
}
.categories h3, .latest_news h3, .popular_news_blk h3 {
	color: #fff;
}

.categories {
	padding: 20px 0px 1px;
}
.search_bar {
	width: 70%;
	margin-left: 200px;
}
/deep/ .completer-input {
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group-btn button {
	padding: 12px;
	background-color: #0c7beb;
	border-radius: 0px 13px 13px 0px;
}
.glyphicon-search {
	font-size: 20px;
	color: #fff;
}
.modal-title {
	width: 490px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}
.modal-content {
	background-color: #a2bce5 !important;
}

/deep/ .completer-dropdown-holder div {
	width: 95.1111% !important;
	color: green !important;
}
.news_sort {
	width: 50%;
	float: right;
}
.marquee_items:hover {
	text-decoration: underline;
	cursor: pointer;
}
.marquee_blk {
	height: 30px;background-color: #fff;padding-top: 5px;
}
.latest_caption {
	position: absolute;
	background-color: #f26157;
	padding: 5px 20px 5px 20px;
	margin-top: -6px;
	z-index: 100;
	color: white;
}
.marquee_items {
	padding-right: 30px;
	font-weight: bold;
	color: #4d8cf2;
}
.marquee_badge {
	border-radius: 0px;
	background-color: #fff;
	color: red;
	font-size: 14px;
}
.cat_badge {
	border-radius: 5px;
	background-color: bisque !important;
	color: black !important;
	box-shadow: 0px 0px 2px 2px inset;
}
.categories p {
	font-size: 24px;
	margin-left: 75px;
	color: #fff;
}
.sub-category li .sub_cat_href {
	background-color: #a8e291;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
	width: 70%;
	color: black;
	box-shadow: 1px 1px 1px 1px #17457c;
	display: inline-flex;
	font-size: 13px;
}
.sub-category li a.active_subcat {
	background-color: #91e6f7;
}
.sub-category li .sub_cat_href span {
	margin-left: 50px;
}
.sub-category li .sub_cat_href:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: #91e6f7;
}
.sub-category li {
	margin-left: -43px;
}
.sub-category {
	border-left: 5px solid #fff;
	margin-left: 20px;
	margin-bottom: 10px;
}
.glyphicon-minus {
	color: #fff;
	font-size: 20px;
	width: 15px !important;
}