@font-face {
    font-family: "headerfont";
    src: url("/assets/fonts/SIMPLIFICA.ttf");
}

.panel-default {
	padding: 20px;
}
.news_item h4 {
	border-bottom: 2px solid wheat;
	padding-bottom: 5px;
	color: wheat;
	/*font-family: "headerfont";*/
}
.news_item h4:hover {
	opacity: 1;
	cursor: pointer;
}
.news_item p {
	color: #fff;
}
.err {
	color: red;
}
.border {
	border:1px solid red;
	box-shadow: 0px 0px 3px 0px red;
}
footer .thumb_up {
	color: wheat;
	margin-top: -5px;
}
footer .share {
	color: navy;
}
footer i:hover {
	cursor: pointer;
}
footer span {
	color: yellowgreen;
	cursor: pointer;
}
footer span:hover {
	text-decoration: underline;
}
.news_item_blk {
	height: 700px;
	overflow-y: scroll;
	padding: 10px;
}
.news_item {
	box-shadow: 0px 0px 8px 1px wheat;
	background-color: #17457c;
	color: #fff;
}
.popular_news {
	background-color: #3e605e;
	margin-bottom: 10px;
	/*border: 5px solid lightseagreen;*/
	box-shadow: 2px 2px 2px 2px #f4a41a;
	border-radius: 10px;
	color: #fff;
}
.popular_news .image {
	padding: 10px;
}
.popular_news .artical {
	padding: 10px;
}
.popular_news_blk .article h5:hover {
	text-decoration: underline;
	cursor: pointer;
}
.categories ul li {
	list-style: none;
	margin-left: -38px;
	display: flex;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px 2px lightblue;
}
.categories ul li:hover {
	cursor: pointer;
	background-color: lightpink;
}
.categories ul li {
	background-color: #07b791;
	border-radius: 10px;
}
.categories ul li.cat_active {
	background-color: lightpink;
}
.categories ul li img {
	padding:10px;
	height: 50px;
}
.categories ul li h4 {
	margin-top: 15px;
}
.categories h3, .latest_news h3, .popular_news_blk h3 {
	color: #fff;
}
.search_bar {
	width: 70%;
	margin-left: 200px;
}
.search_bar input {
	height: 50px;
}
.input-group-btn button {
	padding: 12px;
	background-color: #0c7beb;
	border-radius: 0px 13px 13px 0px;
}
.glyphicon-search {
	font-size: 20px;
	color: #fff;
}
.modal-title {
	width: 490px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}
.modal-content {
	background-color: #a2bce5 !important;
}