<div class="container-fluid">
  <div class="col-md-12">
    <div class="input-group search_bar">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="searchItem()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
    <!-- news categories block -->
    <div class="col-md-3 categories">
      <h3>News By Type</h3>
      <ul>
        <li class="cat" *ngFor="let category of categories; let i = index" (click)="sortNewsItems(category,i)" [ngClass]="{'cat_active':toggleClass === category}"><img src="../assets/images/news.jpg" width="70"><h4>{{category}}</h4></li>
      </ul>
    </div>

    <div class="col-md-6 latest_news">
    <h3>Latest News</h3>
    <!-- display news items block before sorting -->
      <div class="news_item_blk" *ngIf="!sortNews">
        <div class="breadcrumb news_item" *ngFor="let news of news_r | filter1:searchText">
          <h4 (click)="openModal(template,news)"><b>{{news.title | uppercase}}</b></h4>
          <p>{{news.body}}</p>
          <footer> 
          <!-- <i class="material-icons thumb_up">thumb_up</i> -->
          <span>{{news.time | timeAgo}}</span>
          <span class="pull-right">--published by Bhaskararao</span>
          </footer>
        </div>
      </div>

    <!-- display news items block after sorting -->
      <div class="news_item_blk" *ngIf="sortNews">
        <div class="breadcrumb news_item" *ngFor="let news of news_sort">
          <h4 (click)="openModal(template,news)"><b>{{news.title | uppercase}}</b></h4>
          <p>{{news.body}}</p>
          <footer> 
          <!-- <i class="material-icons thumb_up">thumb_up</i> -->
          <span>{{news.time | timeAgo}}</span>
          <span class="pull-right">--published by Bhaskararao</span>
          </footer>
        </div>
      </div>
    </div>

    <!-- most viewed news block -->
    <div class="col-md-3 popular_news_blk">
      <h3>Most Viewed</h3>
      <div class="row popular_news" *ngFor="let news of news_seen | filter">
        <div class="col-md-3 image">
          <img src="../assets/images/news1.jpg" width="70">
        </div>
        <div class="col-md-9 article">
          <h5 (click)="openModal(template,news)">{{news.title}}</h5>
        </div>
      </div>
    </div>
  </div>

     <!-- modal to display news items -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{news_modal.title | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{news_modal.body}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>

</div>
